.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.fullscreen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.App-link {
  color: #61dafb;
}
.inputdesign{
  width: 500px;
  height: 40px;
  background: transparent;
  border-bottom: 1px solid red;
  border-radius: 5px;
  border-top: 1px solid red;
  border-right: 1px solid red;;
  border-left: 1px solid red;;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
  padding-left: 10px;
}
.response-box {
  
  width: 1000px;
  height: 450px; 
  border: 1px solid black;
  padding: 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
  margin-top: 20px;
  white-space: pre-wrap;
  word-wrap: break-word; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
